html {
    scroll-behavior: smooth;
}

#root-wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 90vh;
}

#root {
    flex: 1;
    font-family: "Georgia", sans-serif;
    display: flex;
    color: white;
}

.panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 15%;
    padding-top: 40px;
    padding-left: 30px;
    background: linear-gradient(20deg, #484848 0%, #2f2f2f 100%);;
    /*background-color: #484848;*/
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.panel-list {
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    padding: 0 30px;
}

.panel-list li {
    margin: 15px 0
}

.panel-list li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.panel-list li a:hover {
    color: #D8E9A8;
}

.content {
    flex: 1;
    padding: 40px 80px;
}

.content-title {
    font-size: 50px;
    font-weight: bolder;
    color: #4E9F3D;

}

.content-subtitle {
    scroll-margin-top: 15vh;
    font-size: 30px;
    font-weight: 800;
    color: #D8E9A8;
}

.content-subtitle2 {
    font-size: 30px;
    font-weight: 500;
    color: #D8E9A8;
}
#root p{
    font-size: 18px;
}
#logo-i{
    color: #4E9F3D;
    font-weight: bolder;
}