html{
    scroll-behavior: smooth;
}
#root-wrapper{
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 90vh;
}
#root{
    flex: 1;
    font-family: "Georgia", sans-serif;
    display: flex;
    color: white;
}
.panel{
    width: 23%;
    padding: 40px 25px;
    background-color: #484848;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);

}

.panel-list{
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    padding: 0 15px;
}
.panel-list li{
    margin: 15px 0
}

.panel-list li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.panel-list li a:hover{
    color:#D8E9A8;
}

.content{
    padding:  40px 50px;
    flex: 1;
    min-height: max-content;
}
.content-title{
    font-size: 50px;
    font-weight: bolder;
    color: #4E9F3D;

}
.content-subtitle{
    font-size: 30px;
    font-weight: 800;
    color: #D8E9A8;
}

.content-subtitle2{
    font-size: 30px;
    font-weight: 500;
    color: #D8E9A8;
}


