body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", sans-serif;
    background-color: #333333;
}

header{
    position: sticky;
    top: 0;
    background-color: #191A19;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.main-nav{
    height: 10vh;
}

.logo{
    color: white;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
}

.navlinks{
    list-style: none;
    float: right;
    line-height: 90px;
    margin: 0;
    padding: 0;
}

.navlinks li{
    display: inline-block;
    margin: 0 30px;
}

.navlinks li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.3s linear 0s;
}
.navlinks li a:hover{
    color: #4E9F3D;
    padding-bottom: 7px;
    border-bottom: 2px solid #4E9F3D;
}


.navlinks a.active{
    background-color: #4E9F3D;
    padding: 9px 20px;
    border-radius: 50px;
    transition: all 0.3s linear 0s;
}

.navlinks a.active:hover{
    background-color: #14361b;
    color: white;
    border-bottom: none;
}